/* Buttons –––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 60px;
  padding: 0 16px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}
button:hover,
.button:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}
.button.button-primary {
  color: #FFF;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #FFF;
  filter: brightness(90%);
}

/* Brand Icons –––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.icon2 {
  padding: 8px 8px 8px 8px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.icon2:hover {
  border: 1px solid #FFFFFF;
}

/* Brand Styles –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Upwork */
.button.button-upwork {
  color: #FFFFFF;
  background-color: #6FDA44;
}
.button.button-upwork:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-upwork:focus {
  filter: brightness(90%);
}

/* Discord */
.button.button-discord {
  color: #FFFFFF;
  background-color: #7289DA;
}
.button.button-discord:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-discord:focus {
  filter: brightness(90%);
}

/* Facebook */
.button.button-facebook {
  color: #FFFFFF;
  background-color: #1877f2;
}
.button.button-facebook:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-facebook:focus {
  filter: brightness(90%);
}

/* Figma */
.button.button-figma {
  color: #FFFFFF;
  background-color: #131313;
}
.button.button-figma:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-figma:focus {
  filter: brightness(90%);
}

/* Github */
.button.button-github {
  color: #FFFFFF;
  background-color: #24292e;
}
.button.button-github:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-github:focus {
  filter: brightness(90%);
}

/* Patika */
.button.button-patika {
  color: #FFFFFF;
  background-color: #24292e;
}
.button.button-patika:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-patika:focus {
  filter: brightness(90%);
}

/* Instagram */
.button.button-instagram {
  color: #FFFFFF;
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
}
.button.button-instagram:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-instagram:focus {
  filter: brightness(90%);
}

/* LinkedIn */
.button.button-linkedin {
  color: #FFFFFF;
  background-color: #0A66C2;
}
.button.button-linkedin:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-linkedin:focus {
  filter: brightness(90%);
}

/* Medium */
.button.button-medium {
  color: #000000;
  background-color: #E8F3EC;
}
.button.button-medium:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-medium:focus {
  filter: brightness(90%);
}

/* Twitter */
.button.button-twitter {
  color: #FFFFFF;
  background-color: #1DA1F2;
}
.button.button-twitter:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-twitter:focus {
  filter: brightness(90%);
}

/* YouTube */
.button.button-youtube {
  color: #FFFFFF;
  background-color: #FF0000;
}
.button.button-youtube:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-youtube:focus {
  filter: brightness(90%);
}

/* Email */
.button.button-email {
  color: #FFFFFF;
  background-color: #D1011B;
}
.button.button-email:hover {
  border-radius: 10px;
  border: 2px solid #FFFFFF;
}
.button.button-email:focus {
  filter: brightness(90%);
}
